*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background: #f5eeee;
    width: 100vw;
    overflow-x: hidden;
}


/* -------------CATÁLOGO --------------*/
/* ORGANIZAÇÃO --------------*/
.catalogo{
    margin-top: 4.2rem;
    font-family: lato;
    padding: 20px;
}
.catalogo-livros{
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin-top: 2rem;
}


/* BARRA DE PESQUISA --------------*/
.div-search{
    display: flex;
    justify-content: center;
    align-items: center;
}
.input-wrapper{
    padding: 8px;
    border: none;
    outline: 2px solid #682424;
    border-radius: 20px;
    margin-bottom: 10px;
    min-width: 300px;
    display: flex;
    align-items: center;
    gap: 10px;
}
.input-wrapper svg{
    color: #682424;
}
.input-wrapper input{
    border: none;
    outline: none;
    background: none;
    font-family: lato;
    font-weight: 600;
}
.input-wrapper input::-webkit-search-cancel-button{
    display: none;
}


/* FILTRO DE GÊNEROS --------------*/
.container-wrapper{
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
    justify-content: center;
}
.genres-filter{
    background-color: #7c2e2e;
    padding: 6px 10px;
    margin: 10px;
    display: flex;
    width: fit-content;
    gap: 10px;
    border-radius: 20px;
    display: flex;
    align-items: center;
}
.genres-filter i{
    color: #fff;
    font-size: 20px;
}
.genres-filter select{
    border: none; border-radius: 20px;
    outline: none;
    background: none;
    color: #fff;
    padding: 4px 0;
    font-family: lexend;
    font-size: 16px;
}
select option{
    color: #000;
    outline: none;
    border: none;
}
select option:hover{
    background-color: #7c2e2e !important;
}


/* LIVROS --------------*/
.livro{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 8px;
}
.livros-detalhes{
    width: 250px;
}
.livros-detalhes h2{
    color: #000000;
    font-family: sora;
}
.livros-detalhes .sinopse{
    color: #666666;
    font-size: 14px;
}
/*----------------------*/
.status{
    font-weight: 700;
    margin-top: 20px;
}
.livre{
    color: #91c691;
}
.emprestado{
    color: #c13f3f;
}
/*----------------------*/
.livros-imagem{
    width: 110px;
    height: 180px;
}
.livros-imagem img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 8px;
}

#btCadastra {
    display: none;
    background-color: #7c2e2e;
    padding: 6px 10px;
    gap: 10px;
    border: none; border-radius: 20px;
    color: #fff;
    font-family: inter;
    font-weight: 600;
}



/* =============== MODAL ===============*/
.modal-cadastro, .livroDetalhes{
    display: none;
    justify-content: center;
    align-items: center;
    height: 100%;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    background-color: #4e09096f;
}
.formLivro{
    background: #fff;
    padding: 30px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 500px;
}
.formLivro input{
    padding: 6px;
    border: none; border-radius: 6px;
    outline: 2px solid #682424;
    font-family: inter;
}
.formLivro input::placeholder{
    font-family: inter;
}
.form-buttons{
    display: flex;
    justify-content: space-around;
}
.form-buttons button{
    padding: 6px 20px;
    border-radius: 10px;
    border: none;
    background: #f5eeee;
    font-weight: 600;
    font-family: inter;
}
.form-buttons button:hover{
    background: #e0dcdc;
}