*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background: #f5eeee;
    width: 100vw;
    overflow-x: hidden;
}


main{
    padding: 40px;
}

/* -------------EMPRÉSTIMO --------------*/
/* GRID --------------*/
.emprestimo-grid{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-items: center;
    align-items: center;
}
.emp-lista{
    background: #e2e2e2;
    border-radius: 10px;
    width: 70%;
    padding: 20px;
    height: 550px;
}
.emp-lista-grid{
    display: grid;
    height: 100%;
    overflow-y: auto;
    align-items: center;
    gap: 20px;
    padding-right: 10px;
}
.emp-lista-grid::-webkit-scrollbar {
  width: 10px;
}
.emp-lista-grid::-webkit-scrollbar-track {
  background: #ffffff00;
  border-radius: 2px;
}
.emp-lista-grid::-webkit-scrollbar-thumb {
  background: #c7c7c7;
  border-radius: 5px;
}
.emp-livro{
    display: flex;
    gap: 60px;
    border-radius: 10px;
    background-color: #fff;
    height: 150px;
    justify-items: center;
    align-items: center;
    overflow: hidden;
    transition: transform 300ms ease, background-color 300ms ease, box-shadow 300ms ease;
}
.emp-livro:hover{
    transform: translateY(-3px);
    background-color: #f8fff4;
    box-shadow: 0 0 8px #0000002f;
}
.emp-livro-img{
    width: 30%;
}
.emp-livro-img img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px;
}
.emp-livro-info{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}
.emp-livro-info h5{
    font-size: 18px;
    color: #7c2e2e;
    font-family: sora;
}
.emp-livro-info p{
    color: #868686;
    font-size: 14px;
}
.emp-livro-info span{
    padding: 6px 18px;
    border-radius: 40px;
    background-color: #7c2e2e;
    color: #fff;
    width: fit-content;
    margin-top: 10px;
    font-weight: 600;
}

.emp-details{
    display: none;
}
.emp-detalhes{
    display: flex;
}
.det-text{
    font-family: sora;
    font-size: 28px;
    color: #939393;
    font-weight: 600;
}


.det-infos{
    background: #e2e2e2;
    border-radius: 10px;
    width: 70%;
    padding: 20px;
    height: 550px;
    display: none;
    flex-direction: column;
    justify-content: space-around;
}
.det-up{
    display: flex;
    align-items: center;
    gap: 20px;
}
.det-desc h3{
    font-size: 25px;
    font-weight: 600;
    font-family: sora;
    margin-bottom: 6px;
}
.det-desc p{
    color: #868686;
    font-size: 14px;
}
.det-img{
    width: 600px;
}
.det-img img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px;
}
.det-down{
    display: flex;
    gap: 40px;
    justify-content: space-around;
}
.det-left{
    display: flex;
    flex-direction: column;
    gap: 8px;
    width: 50%;
}
.det-left h3{
    font-family: sora;
    font-size: 22px;
}
.stars i{
    color: #f0cc00;
}
.stars .fa-star-outl{
    color: #000;
}
.area-coment{
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
}
.area-coment textarea{
    resize: none;
    border-radius: 10px;
    outline: 1px solid #7c2e2e;
    height: 140px;
    width: 100%;
    padding: 6px;
    font-family: inter;
}
.area-coment button{
    border: none; border-radius: 10px;
    background-color: #7c2e2e;
    padding: 6px 18px;
    color: #fff;
    font-weight: 600;
    font-size: 16px;
}
.area-coment button:hover{
    background-color: #b74545;
}

.det-right{
    display: flex;
    flex-direction: column;
    width: 50%;
    gap: 50px;
    align-items: center;
    justify-content: center;
}
.livro-tags{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: center;
}
.livro-tags p{
    background-color: #7c2e2e;
    color: #fff;
    padding: 6px 18px;
    font-weight: 600;
    font-size: 10px;
    border-radius: 40px;
    width: fit-content;
    white-space: nowrap;
    list-style: disc;
}
.det-right span{
    border: none; border-radius: 40px;
    background-color: #c2d7b6;
    padding: 6px 38px;
    color: #000;
    font-weight: 500;
    font-size: 14px;
}
.det-right button{
    border: 2px solid #7c2e2e; border-radius: 10px;
    background: none;
    padding: 6px 18px;
    color: #000;
    font-weight: 600;
    font-size: 16px;
}
.det-right button:hover{
    background: #ffffff7e;
}