@media (min-width: 769px) {
    /* =======CADASTRO======= */
    .cadastro{
        width: 400px;
    }
    main#logcad .container{
        width: 500px;
    }


    /* =======PÁGINA PRINCIPAL======= */
    .noticia #titulo-materia{
        font-size: 23px;
    }
    .noticia p, .noticia a{
        font-size: 15px;
    }
    .cont-img{
        height: 140px;
    }
    .navegar nav{
        width: 35vw !important;
    }
    .bt-sair{
        padding: 80px 20px 20px;
    }
    .bt-sair button{
        margin-top: 60%;
    }
    

    /* =======EMPRÉSTIMOS======= */
    .emp-coment textarea{
        width: 450px;
    }
    .livro-info h2{
        font-size: 28px;
    }
    .livro-info h3{
        font-size: 24px;
    }
    .livro-info p{
        font-size: 16px;
    }

    /* =======CATÁLOGO======= */
    .catalogo form .div-search input{
        min-width: 600px;
    }
    .catalogo form .div-search button{
        left: 75px;
    }
    .catalogo-livros .livro{
        justify-content: space-around;
    }

    .not-pc{
        display: none;
    }
}



@media (min-width: 976px){
    /* =======CADASTRO======= */
    .cadastro{
        width: 400px;
    }
    main#logcad .container{
        width: 500px;
    }


    /* =======PÁGINA PRINCIPAL======= */
    .noticia #titulo-materia{
        font-size: 23px;
    }
    .noticia p, .noticia a{
        font-size: 15px;
    }
    .cont-img{
        height: 140px;
    }
    .navegar nav{
        width: 30vw !important;
    }
    .bt-sair{
        padding: 80px 20px 20px;
    }
    .bt-sair button{
        margin-top: 60%;
    }
    

    /* =======EMPRÉSTIMOS======= */
    .emp-coment textarea{
        width: 450px;
    }
    .livro-info h2{
        font-size: 28px;
    }
    .livro-info h3{
        font-size: 24px;
    }
    .livro-info p{
        font-size: 16px;
    }

    /* =======CATÁLOGO======= */
    .catalogo-livros{
        display: grid !important;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: auto;
        gap: 30px !important;
    }
    .catalogo-livros .livro{
        padding-bottom: 20px;
        border-bottom: 1px solid #7c7c7c;
    }
    .catalogo-livros hr{
        display: none;
    }
}
    


@media (min-width: 1140px){
    .cont-noticias .noticias{
        display: grid;
        grid-template-columns: 1fr auto 1fr;
        grid-template-rows: auto;
        gap: 0 40px;
    }
    .not-divisor{
        width: 1px;
        background-color: #cacaca;
    }
    .noticias .noticia .cont-img{
        height: 200px;
    }


    .container-wrapper{
        display: flex;
        flex-direction: row !important;
        gap: 20px;
        align-items: center;
        justify-content: space-evenly;
    }
    .container-wrapper form{
        margin-top: 12px;
    }


    .catalogo-livros{
        display: grid !important;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: auto;
        gap: 30px !important;
    }
    .catalogo-livros .livro{
        padding-bottom: 20px;
        border-bottom: 1px solid #7c7c7c;
    }
    .catalogo-livros .livro .livro-detalhes p{
        font-size: 18px;
    }
    .catalogo-livros hr{
        display: none;
    }


    .emp-info{
        padding: 10px 6rem;
    }
    .emp-info .livro-info h2{
        font-size: 40px;
    }
    .emp-info .livro-info h3{
        font-size: 34px;
    }
    .emp-info .livro-info p{
        font-size: 20px;
    }
    .emp-info .livro-img{
        width: 30%;
    }
    .emp-coment p{
        font-size: 20px;
    }
    .emp-coment textarea{
        font-size: 16px;
    }
    .emp-coment textarea::placeholder{
        font-size: 16px;
    }
}