*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background: #f5eeee;
    width: 100vw;
    overflow-x: hidden;
}
:root{
    --c-claro: #7c7c7c;
    --c-medio: #5d5d5d;
    --c-escuro: #333;

    --v-claro: #bb4141;
    --v-medio: #b31d1d;  
}


/*---------------- PÁGINA INICIAL -------------------*/
/* HEADER --------------*/
header{
    background-color: #7c2e2e;
    padding: 5px;
    position: fixed;
    top: 0;
    z-index: 5;
    width: 100%;
    border-bottom: 1px solid #333;
}
header .ordena{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}
.ordena h1{
    font-size: 18px;
    font-family: lexend;
    font-weight: 500;
    color: #fff;
}
.ordena img{
    width: 50px;
    height: 50px;
}
.ordena i{
    font-size: 25px;
    color: #fff;
    cursor: pointer;
}

/* NAVEGAÇÃO --------------*/
.navegar nav ul{
    list-style: none;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr 5fr;
}
.navegar nav ul i{
    font-size: 20px;
}
.navegar nav li{
    font-size: 16px;
}
.navegar nav ul li a{
    color: #fff;
    text-decoration: none;
    font-family: lexend;
    position: relative;
}
nav ul li a::after {
  content: "";
  position: absolute;
  width: 0;
  height: 2px;
  left: 0;
  bottom: -2px;
  background-color: #ffffff;
  transition: width 0.3s ease;
}

nav ul li a:hover::after {
  width: 100%;
}
.navegar .nav-links{
    display: flex;
    gap: 5px;
    align-items: center;
    border-top: 1px solid #fff;
    /* border-bottom: 1px solid #fff; */
    padding: 40px 10px;
}
.nav-links:nth-child(3){
    border-bottom: 1px solid #fff;
    padding-bottom: 50px;
    /* margin-bottom: 12rem; */
}
.navegar nav .bt-sair{
    display: flex;
    justify-content: flex-end;
    margin: auto;
    padding: 20px;
}
.bt-sair button{
    margin-right: 20px;
    border: none;
    background-color: transparent;
}
.bt-sair button a{
    color:#fff;
    font-family: lato;
    font-size: 14px;
}
.navegar nav {
  position: fixed;
  top: 0;
  right: 0;
  height: 100%;
  width: 45vw;
  background-color: #7c2e2e;
  color: white;
  transform: translateX(100%);
  transition: transform 0.3s ease-in-out;
  z-index: 3;
  padding-top: 3.8rem;
  border-left: 1px solid #333;
}
.navegar nav.active {
  transform: translateX(0);
}


/* NOTÍCIAS --------------*/
section#not h2{
    margin: 80px 20px 30px;
    font-size: 20px;
    text-align: center;
    font-family: sora;
    text-decoration: 3px #0000003f underline;
}
.cont-noticias{
    margin: 20px 40px;
}
.noticia{
    margin-bottom: 30px;
    border-bottom: 2px solid #9f5151;
    padding-bottom: 30px;
}
.noticia #titulo-materia{
    text-align: center;
    font-weight: 600;
    margin-bottom: 15px;
    font-family: lexend;
    font-size: 16px;
    color: #b31d1d;
    /* text-decoration: 2px #00000034 underline; */
}
.noticia p{
    font-family: lato;
    font-size: 13px;
    margin-bottom: 10px;
}
.noticia a{
    font-family: lato;
    font-size: 13px;
    color: #999999;
}
.noticia a:visited{
    color: #5d5d5d;
}
.cont-img{
    width: 100%;
    height: 70px;
    display: flex;
    align-self: center;
    box-shadow: 0 1px 4px rgba(0,0,0,0.2);
    margin-bottom: 10px;
}
.cont-img #imagem-not{
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}


/*---------------- PÁGINA USUÁRIO -------------------*/
/* INFO --------------*/
.aluno-info{
    padding: 10px 20px 10px;
    margin-top: 4.5rem;
    border-bottom: 2px solid #7c7c7c;
}
.aluno-info h3{
    font-family: sora;
    margin-bottom: 2px;
    font-weight: 500;
}
.aluno-info p{
    color: #7c7c7c;
    font-family: lato;
    margin-bottom: 20px;
    font-size: 14px;
}
/* AVISOS --------------*/
.aluno-avisos{
    padding: 40px 20px 0;
}
.aluno-avisos .la{
    display: flex;
    align-items: center;
    gap: 5px;
    margin-bottom: 15px;
}
.la h2{
    font-family: sora;
    font-weight: 500;
}
.aluno-avisos .avisos{
    padding: 0 20px;
}
.avisos li{
    font-family: lato;
    font-size: 14px;
    color: #7c7c7c;

    margin-bottom: 30px;
}


/*---------------- PÁGINA EMPRÉSTIMO -------------------*/
/* INFO --------------*/
.emp-info{
    padding: 10px 20px 10px;
    margin-top: 4.5rem;
    margin-bottom: 10px;
    display: flex;
    align-items: center;
}
.emp-info .livro-info{
    width: 60%;
}
.livro-info h3, .livro-info h2{
    font-family: sora;
    font-weight: 500;
    margin-bottom: 6px;
}
.livro-info p{
    font-family: lato;
    font-size: 14px;
    color: #7c7c7c;
}
.emp-info .livro-img{
    width: 40%;
    text-align: center;
}

/* COMENTÁRIO --------------*/
.emp-coment{
    padding: 10px 20px 10px;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.emp-coment p{
    font-family: lato;
    font-size: 15px;
    font-weight: 600;
    margin-bottom: 6px;
}
.emp-coment textarea{
    width: 300px;
    height: 8rem;
    resize: none;

    border: 1px solid var(--c-medio); border-radius: 10px;
    padding: 6px;
    text-indent: 10px;
    font-family: lato;

    box-shadow: -6px 6px 1px #7c2e2ea3;
}
.emp-coment textarea:focus-within{
    outline: none;
}
/* BOTÃO --------------*/
.emp-coment button{
    padding: 6px 30px;
    font-family: lexend;
    border: 1px solid var(--c-escuro); border-radius: 10px;
    background: transparent;
    margin-top: 10px;

    transition: background 200ms;
}
.emp-coment button:hover{
    background: #e3e3e3;
}

.modal{
    display: none;
    position: fixed;
    background: rgba(0,0,0,0.5);
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    backdrop-filter: blur(3px);
}

.modal-content{
    background: #fff;
    width: 400px;
    padding: 20px;
    margin: 100px auto;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    text-align: center;
    align-items: center;
    font-family: lexend;
}
.modal-buttons{
    display: flex;
    justify-content: space-between;
}
.modal-buttons button{
    padding: 6px 30px;
    font-family: lexend;
    border: 1px solid var(--c-escuro); border-radius: 10px;
    background: transparent;
    margin-top: 10px;
}